name: azure-relay-aspnetserver

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        platform: ['windows-latest', 'ubuntu-latest', 'macos-latest' ]
        dotnet-version: ["3.1.406", "2.2.207"]
    name: Build 'azure-relay-aspnetserver' on ${{ matrix.platform }}

    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: "3.1.100"
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{matrix.dotnet-version}}
    - run: dotnet --info
    - name: Restore
      run: ./restore.sh
    - name: Build
      run: ./build.sh
    - name: Package
      run: ./package.sh
